body {
    margin: 0px auto;
    width: 960px;
    /* height: 100; */
    background-color: #4aaaa5;
    color: #777777; 
    font-size:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image:url("../images/wild_flowers.png");
    }   

header {
    color: #4aaaa5
}

.nav {
    overflow: hidden;
    background-color:#ffffff;
}

.nav-tabs {
float: right;
color: #777777;
text-align: center;
padding: 14px 12px;
text-decoration: none;
font-size: 20px;
font-family: 'Georgia','Times New Roman', Times, serif serif;
    
}
.nav-tab--item {
    display: inline;
}
    
.name-box {
    background-color: #4aaaa5;
    color: #ffffff;
    float: left;
    font-size: 25px;
    padding: 15px; 
}

.content {
    background-color:#ffffff;
    /* float: left; */
    /* margin-top:  10px; */
    height: 600px;
    /* margin-bottom: 20px; */
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    word-wrap:break-word;
}  

.footer {
    border-top: #4aaaa5 solid 5px;
    background-color: #777777;
    clear: both;
    padding-top: 10px;
    color: #ffffff;
    text-align: center;
    height: 25px;
}

.image {
    width: 200px;
    height: 200px;
    float: left;
    margin-bottom: 20px;
}

header {
    font-size: 25px;
}

.row {
    width: 960px;
    border: 15px; 
    padding: 30px;
}

input[type=submit] {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 12px 20px;
    margin: 50px;
    border-radius: 4px;
    cursor: pointer;
}

.thumnails{
    margin: 15px;
    float: left
}